[submodule "nvim-nvchad"]
	path = nvim-nvchad
	url = git@github.com:fm39hz/nvim-nvchad.git
[submodule "nvim-lazyvim"]
	path = nvim-lazyvim
	url = git@github.com:fm39hz/nvim-lazyvim.git
[submodule "ghostty/shaders"]
	path = ghostty/shaders
	url = https://github.com/m-ahdal/ghostty-shaders.git
[submodule "spicetify/Themes"]
	path = spicetify/Themes
	url = https://github.com/spicetify/spicetify-themes.git
[submodule "ghostty/cursor-shaders"]
	path = ghostty/cursor-shaders
	url = https://github.com/sahaj-b/ghostty-cursor-shaders
