# Distro configs
kde?*
arkrc
QtProject.conf

# Telemetry
go

# Game
heroic
StardewValley
unity3d

# Mixed work
Sideloader
libreoffice
LarkInternational
spotify
aseprite
legcord
vesktop
spicetify/Backup
spicetify/Extracted
Bitwarden
Todoist
obs-studio/*
!obs-studio/basic/profiles/Untitled/basic.ini
Azagaya
bless
goldwarden
Grammarly

# Shell config
fish/fish_variables
nushell/history.txt

# Dev editor
lazygit/state.yml
Postman
bruno
Code/*
JetBrains
jgit
!zed/*.json
nvim

# Keyboard config runtime
ibus/* 
fcitx
fcitx5

# Note storage
anytype
notion-app-enhanced
notion-app
Notion
obsidian/*
!obsidian/*.css

# Brower cache
thorium/*
content_shell/*
torbrowser
configstore
BraveSoftware
microsoft-edge

# Development cache
ag
blender
godot/recent_dirs
godotenv/*
*nodejs*
yarn
flutter
*Android*

# File manager config
yazi/flavors
yazi/plugins
*Thunar*
*thunar*

# Database client
MongoDB Compass/
beekeeper-studio/*
**/*.db

# AI config 
TabNine/*
!TabNine/*_config.json
github-copilot/apps.json
Jan
LM Studio

# Misc
__pycache__
*.bak
autostart
.trash
*.log
dconf/*
*Cache
user-dirs*
backup
mimeapps.list
Trolltech.conf
pulse/*
turborepo
bytertc
