dconf/*
Code/*
# Specific KDE files
kde?*
arkrc
# Docker Desktop
Docker Desktop
# libreoffice
libreoffice
# Postman
Postman
# Ibus runtime
ibus/* 
# Fcitx runtime
fcitx5/*
# Pulse runtime
pulse/*
# Npm plugin nvim
nvim
# Notion local storage
notion-app-enhanced
notion-app/*
# Flutter Specific
flutter
# Anytype cache
anytype/*
# GodotEnv 
godotenv/*
# Thorium
thorium/*
content_shell/*
# Lazy Git
lazygit/state.yml
# Node
*nodejs*
# Thunar
*Thunar*
*thunar*
# Tor
torbrowser
# Firebase
configstore
# Misc
*.log
backup
QtProject.conf
user-dirs*
mimeapps.list
