# Distro configs
kde?*
arkrc
QtProject.conf

# Mixed work
libreoffice
LarkInternational
spotify

# Dev editor
lazygit/state.yml
Postman
Code/*
JetBrains
jgit
zed
!zed/*.json
nvim

# Keyboard config runtime
ibus/* 
fcitx
fcitx5

# Note storage
anytype/*
notion-app-enhanced
notion-app/*

# Brower cache
thorium/*
content_shell/*
torbrowser
configstore
BraveSoftware

# Development cache
godotenv/*
*nodejs*
yarn
flutter
*Android*

# File manager config
*Thunar*
*thunar*

# Database client
MongoDB Compass/
beekeeper-studio/*
**/*.db

# AI config 
TabNine/*
!TabNine/*_config.json
Jan

# Misc
__pycache__
*.bak
autostart
.trash
*.log
dconf/*
*Cache
user-dirs*
backup
mimeapps.list
Trolltech.conf
pulse/*
