* {
  font-family:
    JetBrainsMono Nerd Font,
    FontAwesome,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 23.5px;
  font-weight: bold;
  border: none;
  border-radius: 0;
}

tooltip {
  background-color: #383c4a;
  border: none;
  border-radius: 10px;
  box-shadow: transparent;
  text-shadow: inherit;
}

window#waybar {
  background: transparent;
  opacity: 0.6;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  margin-top: 8px;
  border: none;
  border-radius: 10px;
  transition: none;
  background: #383c4a;
}

#workspaces button {
  transition: none;
  color: #7c818c;
  background: transparent;
  font-size: 18px;
}

#workspaces button.persistent {
  color: #7c818c;
  font-size: 18px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: inherit;
  color: #383c4a;
  background: #dbbc7f;
}

#workspaces button.active {
  color: #e67e80;
}

#window {
  background-color: #a7c080;
  color: #1e2326;
  font-family:
    JetBrainsMono Nerd Font Bold,
    monospace;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar.empty #window {
}

#custom-powermenu {
  background-color: transparent;
  color: #1d2021;
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding-left: 16px;
  padding-right: 8px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 14px;
}

#custom-menu {
  background-color: transparent;
  color: #b3b995;
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-bottom: 2px;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#custom-swaync {
  background-color: transparent;
  color: #b3b995;
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-bottom: 2px;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
}

#cpu {
  background-color: #45443c;
  color: #d3c6aa;
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 6px;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 0px;
}

#memory {
  background-color: #45443c;
  color: #d3c6aa;
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 2px;
}

#language {
  padding-left: 16px;
  padding-right: 8px;
  border-radius: 10px 0px 0px 10px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#keyboard-state {
  margin-right: 8px;
  padding-right: 16px;
  border-radius: 0px 10px 10px 0px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#custom-pacman {
  padding-left: 16px;
  padding-right: 8px;
  border-radius: 10px 0px 0px 10px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#custom-mail {
  margin-right: 8px;
  padding-right: 16px;
  border-radius: 0px 10px 10px 0px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#mode {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#clock {
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #f1e6b2;
  background: #384b55;
}

#custom-weather {
  padding-right: 16px;
  border-radius: 10px;
  margin-top: 8px;
  margin-right: 4px;
  margin-left: 4px;
  padding-left: 16px;
  padding-right: 16px;
  transition: none;
  color: #f1e6b2;
  font-size: 18px;
  background: #384b55;
}

#custom-pomodoro {
  padding-right: 16px;
  border-radius: 10px;
  margin-top: 8px;
  margin-right: 4px;
  margin-left: 4px;
  padding-left: 16px;
  padding-right: 16px;
  transition: none;
  color: #f1e6b2;
  font-size: 18px;
  background: #384b55;
}

#pulseaudio {
  padding-right: 16px;
  border-radius: 10px;
  margin-top: 8px;
  margin-right: 4px;
  margin-left: 4px;
  padding-left: 16px;
  padding-right: 16px;
  transition: none;
  color: #f1e6b2;
  font-size: 18px;
  background: #384b55;
}

#pulseaudio.muted {
  background-color: #a6b8c1;
  color: #2a5c45;
}

#custom-mem {
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #f1e6b2;
  background: #56635f;
}

#temperature {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: #383c4a;
}

#temperature.critical {
  background-color: #e67e80;
}

#backlight {
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 2px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #f1e6b2;
  background: #a6b8c1;
}

#battery {
  margin-bottom: 0px;
  margin-top: 8px;
  margin-right: 2px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #f1e6b2;
  background: #384b55;
}

#battery.charging {
  color: #1d2021;
  background-color: #b3b995;
}

#battery.warning:not(.charging) {
  background-color: #dbbc7f;
  color: black;
}

#battery.critical:not(.charging) {
  background-color: #e67e80;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  margin-top: 8px;
  margin-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #f1e6b2;
  background: #384b55;
}

#tray menu {
  border-radius: 10px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
